neem_pycram_interface==1.0.170
trimesh>=4.5.3
dm_control
pydub>=0.25.1
gtts>=2.5.4
deprecated>=1.2.15
pycram_bullet
rospkg>=1.5.1
SQLAlchemy>=2.0.36
scipy>=1.10.1
rospy>=1.16.0
rosservice>=1.16.0
rosgraph>=1.16.0
rosnode>=1.16.0
actionlib>=1.14.0
numpy>=1.24.4
tf>=1.13.2
matplotlib>=3.7.5
anytree>=2.12.1
typeguard>=4.4.0
owlready2>=0.47
psutil>=6.1.0
tqdm>=4.67.1
sortedcontainers>=2.4.0
plotly>=5.24.1
python-dateutil>=2.9.0.post0

pandas>=2.0.3
ucimlrepo>=0.0.7